.ia{
    color: red;
    font-weight: bold;
}

.ela{
    color: rgb(0, 81, 255);
    font-weight: bold;
}

.cao{
    color: rgb(11, 160, 23);
    font-weight: bold;
}

.ano{
    color: rgb(255, 251, 0);
    font-weight: bold;
}